
.login-container {
	align-items: center;
  justify-content: center;
  height: 100%;
  background: url("../img/restaurant.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:50% 50%;
  
}
.login-container md-content{
	align-items: center;
	justify-content: center;
	padding: 24px;
	flex: none;
	background-color: transparent;
}
#view.slide-in.ng-enter,
#view.slide-in.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
  
#view.slide-in.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}

#view.slide-in.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;   
}

.slide-left.ng-enter,
.slide-left.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}  
.slide-left.ng-enter            { 
  -webkit-animation:slideInRight 0.5s both ease;
-moz-animation:slideInRight 0.5s both ease;
animation:slideInRight 0.5s both ease; 
}
.slide-left.ng-leave            { 
  -webkit-animation:slideOutLeft 0.5s both ease;
-moz-animation:slideOutLeft 0.5s both ease;
animation:slideOutLeft 0.5s both ease;   
}


.slide-right.ng-enter,
.slide-right.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}  
.slide-right.ng-enter            { 
  -webkit-animation:slideInLeft 0.5s both ease;
-moz-animation:slideInLeft 0.5s both ease;
animation:slideInLeft 0.5s both ease; 
}
.slide-right.ng-leave            { 
  -webkit-animation:slideOutRight 0.5s both ease;
-moz-animation:slideOutRight 0.5s both ease;
animation:slideOutRight 0.5s both ease;   
}

@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}
@keyframes slideInLeft {
	from 	{ transform:translateX(-200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
	from 	{ -moz-transform:translateX(-200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
	from 	{ -webkit-transform:translateX(-200%); }
	to 		{ -webkit-transform: translateX(0); }
}
@keyframes slideOutRight {
	to 		{ transform: translateX(200%); }
}
@-moz-keyframes slideOutRight {	
	to 		{ -moz-transform: translateX(200%); }
}
@-webkit-keyframes slideOutRight {
	to 		{ -webkit-transform: translateX(200%); }
}
md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin: 0;
    border: none;
    color: rgba(0, 0, 0, 0.87);
}
input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.26);
	font-weight: 300;
  }
  input::-moz-placeholder {
	color: rgba(0, 0, 0, 0.26);
	font-weight: 300;
  }
  input:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.26);
	font-weight: 300;
  }
  input::input-placeholder {
	color: rgba(0, 0, 0, 0.26);
	font-weight: 300;
  }
  md-toolbar.md-table-toolbar form {
	margin: auto;
  }
  md-toolbar.md-table-toolbar form > input {
	width: 100%;
	margin: 0;
	border: none;
	color: rgba(0, 0, 0, 0.87);
  }
  md-toolbar.md-table-toolbar form > input:focus {
	outline: none;
  }
  #footer {
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 110px;
    color: #a2a2a2;
    padding-top: 35px;
    padding-bottom: 15px;
	font-size: 13px;
}
#footer .f-menu {
	display: block;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin-top: 8px;
}
#footer .f-menu > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
#footer .f-menu > li > a {
	color: #a2a2a2;
	text-decoration: none;
}
@media screen and (min-width: 768px){
.card-body.card-padding {
    padding: 23px 25px;
}
.block-header {
  padding: 0 18px;
}
}
md-input-container .md-datepicker-input{
  min-width: 187px;
}
.block-header > h2 {
  font-size: 15px;
  color: #777;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.side-nav-left md-list-item{
  cursor: pointer;
}
.side-nav-left md-list-item:hover{
  background-color:#E9E9E9
}
button i{
  position: relative;
  top: 6px;
  padding: 0 2px 0 0;
}