<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <i class="material-icons">view_headline</i>
        </md-button>

        <h2 flex="" md-truncate="">E - Restaurant</h2>


        <md-menu>
            <md-button class="md-icon-button" aria-label="More" md-menu-origin ng-click="$mdOpenMenu()">
                <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button>
                        <md-icon> <i class="material-icons">subject</i></md-icon> About</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon> <i class="material-icons">power_settings_new</i> </md-icon> Logout</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<md-sidenav class="md-sidenav-left md-whiteframe-4dp side-nav-left" md-component-id="left">

    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>
                <span>Side Panel</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleLeft()">
                <md-tooltip>Close Side Panel</md-tooltip>
                <md-icon class="md-default-theme" class="material-icons"><i class="material-icons">clear</i></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding="">
        <md-list>
            <md-subheader class="md-no-sticky">Manage</md-subheader>
            <md-list-item ng-click="redirectToScreen('layout.manageGroup')">
                <md-icon class="md-default-theme" class="material-icons"><i class="material-icons">group</i></md-icon>
                <p>Group</p>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons"><i class="material-icons">restaurant</i></md-icon>
                <p>Restaurant</p>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons"><i class="material-icons">account_balance</i></md-icon>
                <p>Tax</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Pages</md-subheader>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
                <p>Pages Feed</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                <p>Like Pages</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
<div ui-view name="main-layout"></div>
<footer id="footer" class="ng-scope"><span class="ng-scope">Copyright © 2015 Material Admin</span>
    <ul class="f-menu ng-scope">
        <li><a href="">Home</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</footer>