<md-content laout="column" flex>
    <md-card>

        <md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
            <div class="md-toolbar-tools">
                <h2 class="md-title">Add Restaurant</h2>
                <div flex></div>

            </div>
        </md-toolbar>
    </md-card>
    <md-card>
        <div class="card-body card-padding">
            <form name="addRestaurantForm">
                <div layout="row">
                    <div flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input ng-model="restaurant.name" required>
                            <div ng-messages="addRestaurantForm.name.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">Please fill name.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-select placeholder="Select group" ng-model="group" md-on-open="loadGroups()">
                            <md-option ng-value="group" ng-repeat="group in groups">{{group.name}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div layout="row">
                    <div flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Street </label>
                            <input ng-model="restaurant.street">
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>City </label>
                            <input ng-model="restaurant.city">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>District </label>
                            <input ng-model="restaurant.district">
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>State </label>
                            <input ng-model="restaurant.street">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    
                    <div flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Pin</label>
                            <input ng-model="restaurant.pin">
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Tin No</label>
                            <input ng-model="restaurant.tinNo">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <md-checkbox ng-model="restaurant.status" aria-label="Status" ng-true-value="'true'" ng-false-value="'false'" class="md-primary md-align-center-center"
                                flex>
                                Status
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex>
                        <lf-ng-md-file-input lf-files="files" preview></lf-ng-md-file-input>
                    </div>
                </div>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-raised md-primary"><i class="material-icons">done</i>Save</md-button>
                    <md-button ng-disabled="true" class="md-raised md-primary"><i class="material-icons">clear</i>Reset</md-button>
                    <md-button class="md-raised" ng-click="cancel()"><i class="material-icons">keyboard_backspace</i>Cancel</md-button>
                </section>
            </form>
        </div>
    </md-card>
</md-content>